@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    font-family: 'Bebas Neue', cursive;
}

.banner-img{
    width: 100%;
    height: 600px;
}
.slider-paragraph{
    color: gold
}
.package-space{
    margin-bottom: 200px;
}
.package-space2{
    margin-bottom: 400px;
}
.card-gap{
    margin-bottom: 30px;
}
.item-highlight{
    margin-top: -100px;
}
.copyright-move{
    margin-top: 60px;
}
.content-move{
    margin-left: 100px;
}